/* republic day banner styles */

#top_banner {

    background-image: linear-gradient(to right, rgb(232, 157, 65), rgb(234, 212, 176), rgb(234, 212, 176), rgb(213, 233, 203), rgb(213, 233, 203), rgb(102, 222, 102), rgb(158, 223, 221));
    width: 100%;
    /* position: fixed; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#deal_message:hover {
    color: white;
    cursor: pointer;

}

#top_banner_links a {
    text-decoration: none;
    color: black;
    margin: 10px;
}

#top_banner_links a:hover {
    color: white;
}

#top_banner_links a img {
    width: 20px;
}


/* main nav style */

#main_nav {
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

#wrapper_main_nav2,
#wrapper_main_nav1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

#wrapper_main_nav1 img {
    margin: 0px 13px;
}

#wrapper_main_nav1 a {
    margin: 0px 7px;
    text-decoration: none;
    color: black;
}

#wrapper_main_nav1 a:hover {
    color: rgb(255, 0, 119);
}


#wrapper_main_nav2 input {
    margin: 0px 10px;
}

#wrapper_main_nav2 a {
    margin-left: 55px;
}

#wrapper_main_nav2 input {
    padding: 10px 15px;
    border: 0.5px solid rgb(206, 203, 203);
    background-color: rgb(243, 242, 242);
    border-radius: 5px;
}

#wrapper_main_nav2 button {
    background-color: rgb(255, 0, 119);
    padding: 10px;
    border: none;
    color: white;
    border-radius: 5px;
}

#wrapper_main_nav2 button:hover {
    background-color: rgb(237, 61, 143);
    cursor: pointer;
}


#main_nav #Nykaa_logo {
    width: 100px;
}

#shopping_cart {
    width: 25px;
}


/* bottom nav styles */

#top_nav2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 10px;
}


#top_nav2 a {
    text-decoration: none;
    color: rgb(114, 111, 111);
    margin: 10px;

}

#top_nav2 a:hover {
    color: rgb(237, 61, 143);
}

/* sales banner styles */

#sales_banner_image {
    width: 100%;
}



/* footer styles */

footer {
    margin-top: 60px;
    font-family: 'Raleway', sans-serif;
}

#contact_us {
    padding: 20px;
    text-align: center;
    background-color: rgb(59, 60, 73);
    color: white;

}